<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="">
        <div class="p-10 bg-white">  
            <!--Card 1-->
            <% for (let l of listings){ %>
            <div class="max-w-sm rounded overflow-hidden shadow-lg">
              <img class="w-full" src="#" alt="Etits">
              <div class="px-6 py-4">
                <div class="font-bold text-xl mb-2"><%= l.username %></div>
                <p class="text-gray-700 text-base">
                    <%= l.textPost %>
                </p>
              </div>
              <div class="px-6 pt-4 pb-2">
                <span class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2 mb-2">
                    See more details</span>
              </div>
              <% } %>
            </div>
          </div>
</div>
</body>
</html>